<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="internal-nlog.txt">

	<variable name="Layout"
			  value="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
	<variable name="LayoutConsole"
		  value="${time}|${logger}|${message}"/>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File"
				name="allfile"
				fileName="c:\logs\nlog-all-${shortdate}.log"
				layout="${Layout}" />
		
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			layout="${time}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target xsi:type="Console"
          name="console"
          layout="${LayoutConsole}"
          error="true"
          detectConsoleAvailable="true" />

		<!-- write to the void aka just remove -->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="coloredConsole" />
		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
	</rules>
</nlog>